*.pyc
.DS_Store
results
data/response_matrix.csv
data/features.json
data/spectra
data/structures
data/door_csvs
docs
*.pdf
*.ttf
scratch
data/predictions.pkl
data/merged_micha
data/nusvr_micha
.spyderproject
data/Fig2.png
